
div.ember-view{
    height: 100%;
    //background-color: #F4F7FB;
}

div.sp{
    margin-top: 20%;
   // background-color: #F4F7FB;
   text-align: center;
}


 .images{
    
    display:block;
    margin:auto;
   
}
.card-img-top{
    display:block;
    margin:auto;
    height: 450px;
}
