<div class="container h-100">
		<div class="htop">
			<h2 class="text-center">Редактирование спикера: {{get-fio model.firstName model.lastName model.patronymic}}</h2>
            {{speacker-form speacker=model onsubmit=(action "updateSpeacker")}}
    </div>
</div>